<!DOCTYPE html>
<html>

<head>

<title>Payment Success</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="dashboard-content">

<div class="form-box" style="text-align:center;">

<h1>✅ Payment Successful</h1>

<br>

<h2>Thank You!</h2>

<p>Your electricity bill has been paid successfully.</p>

<br>

<h3>Transaction Status : Successful</h3>

<h3>Amount : ₹560</h3>

<h3>Date : 06-08-2026</h3>

<br>

<button onclick="location.href='/admin-dashboard'">
🏠 Back to Dashboard
</button>

</div>

</div>

</body>

</html>